{% extends 'IndianCollegesApp/base_templet.html' %}

{% block navbar_item_background %}
  #eng_colleges_navbar{
    background-color: #0BB244;
  }
  #a{{ city_id }}{
     background-color: #0BB244;
     color: #ffffff;
  }
  #link{{ selectedLink }}{
    background-color: #0BB244;
    color: #ffffff;
  }
  #fees-selected-link{{ feesSelectedLink }}{
    background-color: #0BB244;
    color: #ffffff;
  }
{% endblock %}


{% block city %}
  {% for city in allCitiesList %}
<!-- if state value is comming from views then url will be 'home/(state_value)/city/city_id' ,
     if the 'state' value is not comming from views then 'state' value will consider empty and
     the url will be 'home/city/city_id' -->
     <a href="/engneering-colleges{{ state }}/city/{{city.id}}" id="a{{city.id}}" class="cityLink">{{ city.city_name }}</a>
  {% endfor %}
{% endblock %}


{% block college_type %}
  <a href="/engineering-colleges{{collegeTypeUrlValue}}/college-type/government" id="link1" class="cityLink">1. Government</a>
  <a href="/engineering-colleges{{collegeTypeUrlValue}}/college-type/private" id="link2" class="cityLink">2. Private</a>
{% endblock %}


{% block semester_fees %}
    <a href="/engineering-colleges{{collegeFeesUrlValue}}/semester-fees/100000/greater/1" id="fees-selected-link1" class="cityLink">100,000(Rs) or Greater</a>
    <a href="/engineering-colleges{{collegeFeesUrlValue}}/semester-fees/80000/100000/2" id="fees-selected-link2" class="cityLink"> 80,000(Rs) to 100,000(Rs)</a>
    <a href="/engineering-colleges{{collegeFeesUrlValue}}/semester-fees/60000/79999/3" id="fees-selected-link3" class="cityLink">60,000(Rs) to 79,999(Rs)</a>
    <a href="/engineering-colleges{{collegeFeesUrlValue}}/semester-fees/40000/59999/4" id="fees-selected-link4" class="cityLink">40,000(Rs) to 59,999(Rs)</a>
    <a href="/engineering-colleges{{collegeFeesUrlValue}}/semester-fees/20000/39999/5" id="fees-selected-link5" class="cityLink">20,000(Rs) to 39,999(Rs)</a>
    <a href="/engineering-colleges{{collegeFeesUrlValue}}/semester-fees/20000/less/6" id="fees-selected-link6" class="cityLink">20,000(Rs) or Less</a>
{% endblock %}


{% block selected_state %}
   {% if isStateNotSelected %}
  <a href="/engneering-colleges/states/{{firstState.id}}"> <button type="button" class="btn btn-outline-primary state-name">{{ firstState.state_name }}</button> </a>
  {% else %}
  <a href="/engneering-colleges/states/{{selectedState.id}}"> <button type="button" class="btn btn-outline-primary active state-name">{{ selectedState.state_name }}</button> </a>
   {% endif %}
{% endblock %}



{% block other_state %}
{% for state in otherThreeStates %}
   <div class="col mb-4 my-states-item">
   <div class="card-title">
    	<a href="/engneering-colleges/states/{{ state.id }}"> <button type="button" class="btn btn-outline-primary state-name">{{state.state_name}}</button> </a>
    </div>
    </div>
 {% endfor %}
{% endblock %}



{% block states_dropdown %}
 {% for state in allStatesListForDropdown %}
    <a class="dropdown-item" href="/engneering-colleges/states/{{ state.id }}">{{ state.state_name }}</a>
 {% endfor %}
{% endblock %}



{% block body_title %}
 <h2 id="body-title">{{ bodyTitle }}</h2>
{% endblock %}

{% block all_colleges %}
  {% for engneeringCollege in pageObj %}
   <div class="col mb-4 mt-3">
    <div class="card h-100">
     <div class="card-title">
      	<h5 style="margin-top: 8px;padding-left: 10px;font-size: 18px;font-style: italic;color: green;">{{ engneeringCollege.college_name }}</h5>
      	<p style="padding-left: 10px;margin-top: -8px; color: #ee00aa">College Rating: {{engneeringCollege.college_rank}}/5</p>
      </div>
      <img src="{{engneeringCollege.college_images_url.0.image_url.url}}" class="card-img-top" alt="..." style="height: 160px; margin-top: -20px;">

        <div class="card-body">
        <ul style="margin-left: -30px;color: #ee00aa;">
            <li><p class="card-text unorder-list-item" >College Status: {{ engneeringCollege.college_status }}</p></li>
        	<li><p class="card-text unorder-list-item" >Location: {{ engneeringCollege.city_name }}, {{ engneeringCollege.state_name }}</p></li>
        	<li><p class="card-text unorder-list-item" >College Type: {{ engneeringCollege.get_college_type_display }}</p></li>
        	<li> <p class="card-text unorder-list-item" >Established On: {{ engneeringCollege.established_date }}</p></li>
        	<li><p class="card-text unorder-list-item">Affilicated By: {{ engneeringCollege.affilicated_by }}</p></li>
        	<li><p class="card-text unorder-list-item">Course Type: {{ engneeringCollege.get_course_type_display }}</p></li>
        	<li><p class="card-text unorder-list-item" >Course Duration: {{ engneeringCollege.course_duration }}</p></li>
        	<li><p class="card-text unorder-list-item" >Fees Per Semister: {{ engneeringCollege.college_fees_per_semester }} (Rs)</p></li>
            <li><p class="card-text unorder-list-item" >Exams For Admission: {{ engneeringCollege.exams_for_admission }}</p></li>
        	<li><p class="card-text unorder-list-item" >College Site Link: <span><a href="#">{{ engneeringCollege.college_website_link }}</a></span></p></li>
        </ul>
      </div>
     </div>
    </div>
   {% endfor %}
{% endblock %}



{% block paginator %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if pageObj.has_previous %}
    <li class="page-item"><a class="page-link pagination-link" href="?page={{pageObj.previous_page_number}}">Previous</a></li>
    <li class="page-item"><a class="page-link  pagination-link" href="?page={{pageObj.previous_page_number}}">{{pageObj.previous_page_number}}</a></li>
    {% endif %}
    {% if not isListEmpty %}
      <li class="page-item"><a class="page-link highlight" href="?page={{ pageObj.number }}">{{ pageObj.number }}</a></li>
    {% endif %}
    {% if pageObj.has_next %}
    <li class="page-item"><a class="page-link  pagination-link" href="?page={{ pageObj.next_page_number }}">{{ pageObj.next_page_number }}</a></li>
    <li class="page-item"><a class="page-link  pagination-link" href="?page={{ pageObj.next_page_number }}">Next</a></li>
    {% endif %}
  </ul>
</nav>
{% endblock %}



{% block bottom_card_items %}
 {% for card in bottomCardLists %}
  <div class="col mb-4 mt-3">
  <div class="card">
  <img class="card-img-top" src="{{ card.card_image_url }}" alt="Card image cap" height="170px">
  <div class="card-body" style="background-color: {{card.card_color}};">
    <h5 class="card-title">{{ card.card_title }}</h5>
    <p class="card-text" style="text-align: justify;">{{ card.card_description }}</p>
    <a href="{{card.link_url}}" class="btn btn-primary see-more-college">See Colleges</a>
  </div>
  </div>
  </div>
 {% endfor %}
{% endblock %}














