{% extends 'IndianCollegesApp/base_templet_for_home_page.html' %}

{% block navbar_item_background %}
  #home_navbar{
    background-color: #0BB244;
  }
{% endblock %}

{% block first-carousel-engneering-item1 %}
  <h4 style=" margin-bottom: 20px;font-size: 25px; font-style: italic; color: #ee00aa">Haldia Institute Of Technology</h4>
  <img src="/media/all_images/hit_haldia3.jpg"  class=" w-50" height="200px" alt="...">
  <div style=" text-align: center;">
     <p class="carousle-paragraph1">College Type: Private</p>
     <p class="carousle-paragraph2">College Location: haldia</p>
  </div>
{% endblock %}


{% block first-carousel-engneering-item2 %}
   <h4 style=" margin-bottom: 20px;font-size: 25px; font-style: italic; color: #ee00aa">Heritahge Institute Of Technology</h4>
    <img src="/media/all_images/gur.jpg"  class=" w-50" height="200px" alt="...">
   <div style=" text-align: center;">
      <p class="carousle-paragraph1">College Type: Private</p>
      <p class="carousle-paragraph2">College Location: Kolkata</p>
   </div>
{% endblock %}


{% block first-carousel-engneering-item3 %}
 <h4 style=" margin-bottom: 20px;font-size: 25px; font-style: italic; color: #ee00aa">IME Institute Of Technology</h4>
      <img src="/media/all_images/heritage.jpg"  class=" w-50" height="200px" alt="...">
      <div style=" text-align: center;">
        <p  class="carousle-paragraph1">College Type: Private</p>
        <p  class="carousle-paragraph2">College Location: Howrah</p>
      </div>

{% endblock %}


{% block first-carousel-engneering-more-college-link %}
<a href="#" class="btn btn-primary see-more-college">See More Engneering Colleges And Their Detailed Information</a>
{% endblock %}


{% block second-carousel-medical-item1 %}
 <h4 style=" margin-bottom: 20px;font-size: 25px; font-style: italic; color: #ee00aa">Haldia Institute Of Technology</h4>
      <img src="/media/all_images/gur_r21hoxv.jpg"  class=" w-50" height="200px" alt="...">
      <div style=" text-align: center;">

        <p class="carousle-paragraph1">College Type: Private</p>
        <p class="carousle-paragraph2">College Location: haldia</p>
      </div>
{% endblock %}


{% block second-carousel-medical-item2 %}
<h4 style=" margin-bottom: 20px;font-size: 25px; font-style: italic; color: #ee00aa">Heritahge Institute Of Technology</h4>
      <img src="/media/all_images/heritage_zv9eYWw.jpg"  class=" w-50" height="200px" alt="...">
      <div style=" text-align: center;">

        <p class="carousle-paragraph1">College Type: Private</p>
        <p class="carousle-paragraph2">College Location: Kolkata</p>
      </div>
{% endblock %}


{% block second-carousel-medical-item3 %}
 <h4 style=" margin-bottom: 20px;font-size: 25px; font-style: italic; color: #ee00aa">IME Institute Of Technology</h4>
      <img src="/media/all_images/hit_haldia2_LksMmqU.jpg"  class=" w-50" height="200px" alt="...">
      <div style=" text-align: center;">
        <p  class="carousle-paragraph1">College Type: Private</p>
        <p  class="carousle-paragraph2">College Location: Howrah</p>
      </div>
{% endblock %}




{% block second-carousel-medical-more-college-link %}
<a href="#" class="btn btn-primary see-more-college"  >See More Medical Colleges And Their Detailed Information</a>
{% endblock %}


{% block third-carousel-iit-item1 %}
<h4 style=" margin-bottom: 20px;font-size: 25px; font-style: italic; color: #ee00aa">Haldia Institute Of Technology</h4>
      <img src="/media/all_images/hit_haldia_i0P2nG2.jpg"  class=" w-50" height="200px" alt="...">
      <div style=" text-align: center;">
        <p class="carousle-paragraph1">College Type: Private</p>
        <p class="carousle-paragraph2">College Location: haldia</p>
      </div>
{% endblock %}


{% block third-carousel-iit-item2 %}
 <h4 style=" margin-bottom: 20px;font-size: 25px; font-style: italic; color: #ee00aa">Heritahge Institute Of Technology</h4>
      <img src="/media/all_images/images_k4vfFWO.jpg"  class=" w-50" height="200px" alt="...">
      <div style=" text-align: center;">
        <p class="carousle-paragraph1">College Type: Private</p>
        <p class="carousle-paragraph2">College Location: Kolkata</p>
      </div>
{% endblock %}


{% block third-carousel-iit-item3 %}
<h4 style=" margin-bottom: 20px;font-size: 25px; font-style: italic; color: #ee00aa">IME Institute Of Technology</h4>
      <img src="/media/all_images/medical1.jpg"  class=" w-50" height="200px" alt="...">
      <div style=" text-align: center;">
        <p  class="carousle-paragraph1">College Type: Private</p>
        <p  class="carousle-paragraph2">College Location: Howrah</p>
      </div>
{% endblock %}

{% block third-carousel-iit-more-college-link %}
<a href="#" class="btn btn-primary see-more-college">See More IIT Colleges And Their Detailed Information</a>
{% endblock %}


{% block fourth-carousel-diploma-item1 %}
<h4 style=" margin-bottom: 20px;font-size: 25px; font-style: italic; color: #ee00aa">Haldia Institute Of Technology</h4>
      <img src="/media/all_images/mycollege_kp6umOI.jpg"  class=" w-50" height="200px" alt="...">
      <div style=" text-align: center;">

        <p class="carousle-paragraph1">College Type: Private</p>
        <p class="carousle-paragraph2">College Location: haldia</p>
      </div>
{% endblock %}

{% block fourth-carousel-diploma-item2 %}
<h4 style=" margin-bottom: 20px;font-size: 25px; font-style: italic; color: #ee00aa">Heritahge Institute Of Technology</h4>
      <img src="/media/all_images/medical3_fppNCM6.jpg"  class=" w-50" height="200px" alt="...">
      <div style=" text-align: center;">

        <p class="carousle-paragraph1">College Type: Private</p>
        <p class="carousle-paragraph2">College Location: Kolkata</p>
      </div>
{% endblock %}

{% block fourth-carousel-diploma-item3 %}
 <h4 style=" margin-bottom: 20px;font-size: 25px; font-style: italic; color: #ee00aa">IME Institute Of Technology</h4>
      <img src="/media/all_images/medical1.jpg"  class=" w-50" height="200px" alt="...">
      <div style=" text-align: center;">
        <p  class="carousle-paragraph1">College Type: Private</p>
        <p  class="carousle-paragraph2">College Location: Howrah</p>
      </div>
{% endblock %}

{% block fourth-carousel-diploma-more-college-link %}
  <a href="#" class="btn btn-primary see-more-college">See More Diploma Colleges And Their Detailed Information</a>
{% endblock %}



























