{% extends 'IndianCollegesApp/first_base_templet.html' %}


{% block mynavbar %}

	<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #7910AC;position: fixed;width: 100%;z-index: 9;">
  <h5 class="nav-link" style="color: #ffffff;font-size: 23px;font-style: italic;">Indian<span style="color: #ffffff">Colleges</span>.com</h5>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-5">
      <li class="nav-item active ml-4 mr-4 " >
          {% block nav-home %}
          {% endblock %}
      </li>

      <li class="nav-item active mr-4">
          {% block nav-eng-college %}
          {% endblock %}
      </li>

       <li class="nav-item active mr-4">
           {% block nav-medical-college %}
           {% endblock %}
       </li>


      <li class="nav-item active mr-4">
          {% block nav-diploma-college %}
          {% endblock %}
      </li>


      <li class="nav-item dropdown mr-4">
        <a class="nav-link dropdown-toggle my_navbar_link"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #ffffff;font-size: 20px;">
          Top Colleges
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Top IIT</a>
          <a class="dropdown-item" href="#">Top Medical Colleges</a>
          <a class="dropdown-item" href="#">Top Engneering Colleges</a>
          <a class="dropdown-item" href="#">Top Diploma Colleges</a>
      </div>
      </li>
         <li class="nav-item active mr-4">
             {% block nav-sing-up %}
             {% endblock %}
      </li>
    </ul>
  </div>
</nav>

{% endblock %}





{% block content1 %}
 {% if isRequestFromHome %}
  <a href="/states/{{firstState.id}}"> <button type="button" class="btn btn-outline-primary state-name">{{ firstState.state_name }}</button> </a>
  {% else %}
  <a href="/states/{{selectedState.id}}"> <button type="button" class="btn btn-outline-primary active state-name">{{ selectedState.state_name }}</button> </a>
   {% endif %}
{% endblock %}


{% block content2 %}
  {% for state in otherThreeStates %}
   <div class="col mb-4 my-states-item">
   <div class="card-title">
    	<a href="/states/{{ state.id }}"> <button type="button" class="btn btn-outline-primary state-name">{{state.state_name}}</button> </a>
    </div>
    </div>
 {% endfor %}
{% endblock %}

{% block content3 %}
    <button class="btn btn-outline-primary dropdown-toggle state-name" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    More States</button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {% for state in allStatesListForDropdown %}
    <a class="dropdown-item" href="/states/{{ state.id }}">{{ state.state_name }}</a>
    {% endfor %}
  </div>
{% endblock %}


{% block cities %}
{% if isRequestFromHome %}
  {% for city in allCitiesList %}
     <a href="#" class="cityLink">{{ city.city_name }}</a>
   {% endfor %}
{% else %}
   {% for city in allCitiesList %}
     <a href="#" class="cityLink">{{ city.city_name }}</a>
   {% endfor %}
{% endif %}

{% endblock %}



